<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy">
    <title>ComputerSecurityBank</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container text-center">
    <form th:action="@{/logout}" method="post">
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.login}]]</b>
        </p>
        <input type="submit" value="Sign Out" />
    </form>
</div>
<div class="container text-center">
    <h1>Welcome to ComputerSecurityBank</h1>
    <h3><a th:href="@{/bank/history}">Transfers History</a></h3>
    <h3><a th:href="@{/bank/new_transfer}">New Transfer</a></h3>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

</body>
</html>