<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy">
    <title>ComputerSecurityBank</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Create New Transfer</h1>
    </div>
    <form th:action="@{/bank/process_new_transfer}" th:object="${transfer}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Receiver: </label>
                <div class="col-8">
                    <label>
                        <input id="receiver" type="text" th:field="*{receiver}" class="form-control" required />
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Amount: </label>
                <div class="col-8">
                    <label>
                        <input id="amount" type="number" th:field="*{amount}" class="form-control" required />
                    </label>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Transfer</button>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

</body>
</html>