<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy">
    <title>ComputerSecurityBank</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>
    <form th:action="@{/process_reset_passwordv2}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">New Password: </label>
                <div class="col-8">
                    <label>
                        <input type="password" th:field="*{password}" class="form-control"
                               required minlength="6" maxlength="20"/>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Confirm Password: </label>
                <div class="col-8">
                    <label>
                        <input type="password" th:field="*{confirmPassword}" class="form-control"
                               required minlength="6" maxlength="20"/>
                    </label>
                </div>
            </div>
            <label>
                <input type="hidden" th:field="*{login}" th:value="${user.login}"/>
            </label>
            <div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

</body>
</html>